@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Libre Baskerville', serif;
    
   
}
header{
    background-image: linear-gradient(45deg, #06336d,#E1E6EA, #06336d );
    width: 100%;
    box-shadow: 0px 3px 10px #464646;

}

#espaço{
    padding: 80px;
}
/*corpo*/

#fundo {
	width: 100%;
	animation:  mudançadecor 15s infinite;
	margin: auto;

	}

    @keyframes mudançadecor {
        0% {background-color: #06336d;}
        25% {background-color: #E1E6EA;}
        50% {background-color: #06336d;}
        75% {background-color: #E1E6EA;}
        100% {background-color: #06336d}
        
      }


  /*quadro do layout*/
#quadro{
    background-image: linear-gradient(45deg, #06336d,#E1E6EA, #06336d );
    box-shadow: 0px 3px 10px #464646;
	padding: 18px;
	width: 80%;
	border-radius: 15px;
	margin: auto;

}

#quadro2{
    background-image: linear-gradient(45deg, #06336d,#E1E6EA, #06336d );
   box-shadow: 0px 3px 10px #464646;
   padding: 18px;
   width: 60%;
   font-weight: 80%;
   border-radius: 15px;
   margin: auto;

}

#cor{
    background-image: linear-gradient(45deg, #06336d,#E1E6EA, #06336d );
}
a{
	color: black;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}

.centralizar{
	text-align: center;
	
}

h1{
    
    padding: 10px ;
    
}

.img{ 
    
    box-shadow: 0px 3px 10px #464646;
}

.img2{ 
   
    box-shadow: 0px 3px 10px #464646;
}

.text2{
text-decoration: underline;
}

/*paginação*/
.paginação {
    display: inline-block;
  }
  
  .paginação a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .paginação a.active {
    background-image: linear-gradient(45deg, #06336d,#E1E6EA, #06336d );
    color: rgb(12, 12, 12);
    border-radius: 10px;
  }
  
  .paginação a:hover:not(.active) {background-color: #ddd;}

  /*botoes*/
  .button {
    background-image: linear-gradient(45deg, #06336d,#E1E6EA, #06336d );
    border-radius: 10px;
   border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .text3{
    color: #fff;
  }

  .text4{
    color:black;
  }
  
  .mapa{
    border-radius: 20px;
    box-shadow: 20px ;
  }



  /*menu responsivo*/

  a {
    color: rgb(12, 10, 10);
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(45deg, #06336d,#E1E6EA, #06336d );
    height: 21vh;
  }
  
  
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 21vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background-image: linear-gradient(45deg, #06336d,#E1E6EA, #06336d );
      flex-direction: column;
      border-radius: 10px;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  